/proj.macosx/HelloMac_macosx.xcodeproj/project.xcworkspace/xcuserdata
/proj.macosx/HelloMac_macosx.xcodeproj/project.xcworkspace/xcshareddata
/proj.macosx/HelloMac_macosx.xcodeproj/xcuserdata/sean.xcuserdatad
