/proj.macosx/LesserPanda_macosx.xcodeproj/project.xcworkspace/xcuserdata
/proj.macosx/LesserPanda_macosx.xcodeproj/project.xcworkspace/xcshareddata
/proj.macosx/LesserPanda_macosx.xcodeproj/xcuserdata/sean.xcuserdatad
/proj.android/bin
/proj.android/gen
/proj.android/obj
/proj.ios/LesserPanda_ios.xcodeproj/project.xcworkspace/xcshareddata
/proj.ios/LesserPanda_ios.xcodeproj/project.xcworkspace/xcuserdata
/proj.ios/LesserPanda_ios.xcodeproj/xcuserdata
/proj.android/libs
/proj.cmake/build_emsc_release
/proj.cmake/data.js
