/proj.macosx/LesserPanda_macosx.xcodeproj/project.xcworkspace/xcuserdata/sean.xcuserdatad
/proj.ios/LesserPanda_ios.xcodeproj/project.xcworkspace/xcuserdata/sean.xcuserdatad
/proj.ios/LesserPanda_ios.xcodeproj/project.xcworkspace/xcshareddata
